.navbar {
  position: relative;
  z-index: 30;
  top: 0;
}

.logo {
  width: 5rem;
  height: auto;
}
.nav-content {
  /* max-width: 1300px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
}

.nav-content ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}
.nav-content li {
  margin: 0 1.5em;
}
.menuItem {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.menuItem::before {
  content: " ";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  position: absolute;
  border-radius: 0.5rem;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
}

.menuItem:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 100%;
}

.contact-btn {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(90deg, #3aafb4, #811dfd, #fc4545);
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 2rem;
  outline: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease;
}
.contact-btn:hover {
  color: #a993fe;
  background: #252537;
  outline: 1.5px solid #a993fe;
  transform: scaleX(1rem);
}

.menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  align-items: center;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(90deg, #a993fe -0.13%, #252537);
  line-height: 0;
  display: none;
  transition: all 0.4s ease;
}
.menu-btn:hover {
  color: #a993fe;
  background: #252537;
  border: 1px solid #a993fe;
}

@media (max-width: 860px) {
  .menu-btn {
    display: block;
  }

  .nav-content ul {
    display: none;
  }
}

@media (max-width: 1325px) {
  .navbar {
    padding: 0 2rem;
  }
}
